#copyright { text-align: right; font-size: 12px !important; }
#header { color: #CCC; cursor: default; }
#header a { color: #DDD; cursor: pointer; }
#header a:hover { color: #FFF; }
#fork-me-on-github { position: absolute; top: 30px; right: 0; }
#main { padding-top: 30px; }

.intro {
  background: #E0E7EB;
  border-top: 1px solid #c3ccd0;
  border-bottom: 1px solid #c3ccd0;
  margin: 0;
  padding: 0;
}
.intro .title {
  width: 800px;
  margin: 0 auto 0 auto;
  padding: 0;
}
.intro h1 {
  font-size: 36px; 
  line-height: 1;
  margin: 30px 0 30px 0;
}
.intro h1 small { font-size: 60%; font-weight: bold; }

/* fix the first line indent */
.post-content pre { white-space: pre-wrap; }
.post-content code { padding: 0; }
.post-content p code, .post-content li code { padding: 4px; }



.footnotes p { font-size: smaller; line-height: 1.5; padding: 0; }
.footnotes p { margin-top: 7px; margin-bottom: 7px; }
.footnotes p:first-child { margin-top: 14px; }
.footnotes p:last-child { margin-bottom: 20px; }

strong { font-weight: bold; }

#disqus_thread {
  width: 800px;
  margin-left: auto; margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}


/* Colors */

h1, h2, h3, h4, h5, strong { color: #4c5254; }
h1 small { color: #757d80; }
html, body { color: #5e6669; }


/* Font sizes */
.post-content h2 { font-size: 32px; font-weight: normal; }
.post-content h3 { font-size: 24px; font-weight: normal; }
.post-content h4 { font-size: 20px; font-weight: normal; }
.post-content h5 { font-size: 16px; }

/* Line margins */
.post-content h1, .post-content h2, .post-content h3, .post-content h4 { margin-top: 20px; margin-bottom: 20px; }
.post-content pre { margin-top: 10px; margin-bottom: 10px; }
.post-content p { margin-bottom: 10px; }
