<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="keywords" content="{% if page.keywords %}{{site.keywords | join: ','}},{{page.keywords | join: ','}}{% else %}{{site.keywords | join: ','}}{% endif %}" />
  <meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}" />
  <meta name="robots" content="{% if page.noindex %}NOINDEX,NOFOLLOW{% else %}INDEX,FOLLOW{%endif%}" />
  
  <title>{% if page.title %} {{ page.title }} - {% endif %} {{ site.title }}</title>
  {% if site.favicon %}
  <link rel="shortcut icon" href="{{site.baseurl}}{{site.favicon}}" type="image/x-icon" />
  {% endif %}
  <link rel="stylesheet" href="{{site.baseurl}}/fonts/open-sans.css" />
  <link rel="stylesheet" href="{{site.baseurl}}/css/reset.css" />
  <link rel="stylesheet" href="{{site.baseurl}}/css/prose-bootstrap.css" />
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css" />
  <link rel="stylesheet" href="{{site.baseurl}}/css/pygments/trac.css" />
  {% if page.analytics != false %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{site.analytics.google.account}}']);
    _gaq.push(['_setDomainName', '{{site.analytics.google.domain}}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  {% endif %}
</head>
<body>
  <div id="container">

    <div id="header">
      <div class="navigation">
        <a href="{{site.baseurl}}/" class="title">{{site.title}}</a>
        {% for item in site.internal_links %}
          | <a href="{{site.baseurl}}{{item.url}}">{{item.name}}</a>
        {% endfor %}
        <div style="float: right;">
          {% for item in site.external_links %}
            | <a href="{{site.baseurl}}{{item.url}}" target="_blank">{{item.name}}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div id="main">
      {{content}}
    </div>
  </div>

  <div id="footer">
    <div id="copyright" class="footer-content">
      <a href="{{site.copyright.url}}" target="_blank">{{site.copyright.text}}</a>. 
      Using a modified <a href="http://bootstrap.prose.io/" target="_blank">Prose Bootstrap</a> theme.
    </div>
  </div>

</body>
</html>
