---
layout: default
---
{% include JB/setup %}
<div class="page-header">
  <h1>
    {{ page.title }} 
    {% if page.tagline %}
      <small>{{ page.tagline }}</small>
    {% endif %}
  </h1>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
    <!-- 
    <hr>
    <div class="pagination btn-group">
      {% if page.previous %}
        <a class="btn prev" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>
      {% else %}
        <a class="btn disabled prev">&larr; Previous</a>
      {% endif %}
      {% if page.next %}
        <a class="btn next" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a>
      {% else %}
        <a class="btn next disabled">Next &rarr;</a>
      {% endif %}
    </div>
    -->
    <hr>
    {% include JB/comments %}
  </div>
  
  <div class="span4">

    <section>
      <h4>Sections</h4>
      {% for p in site.pages %}
        {% if p.group == 'doc' %}
        <li><a href="{{ BASE_PATH }}{{p.url}}">{{p.title}}</a></li>
        {% endif %}
      {% endfor %}

    </section>
<!-- 
    {% unless page.tags == empty %}
      <section>
        <h4>Tags</h4>
        <ul class="tag_box">
          {% assign tags_list = page.tags %}
          {% include JB/tags_list %}
        </ul>
      </section>
    {% endunless %}         
-->
  </div>
</div>
