---
layout: page
---
<style>
  .portamento { position:relative; }

  .portamento > .content {
    width: 590px;
    min-height:600px;
  }
  .portamento .sidebar {
    width: 220px; 
    padding: 0 0 0 30px; 
    position:absolute; 
    right:0px; 
    top:0;
  }
        
  #portamento_container {position:absolute; right:0; top:0;}
  #portamento_container .sidebar {}
  #portamento_container .sidebar.fixed {position:fixed; right:auto; top:auto;}

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="/js/portamento-min.js"></script>


<div class="portamento">
  <div class="content">
    {{ content }}
  </div>
  <div class="sidebar">
    <section>
      <h3>Sections</h3>
      <ol>
      {% for a in page.menu %}
        <li><a href="{{a.url}}">{{a.name}}</a></li>
      {% endfor %}
      </ol>
    </section>
  </div>
</div>
<script>
  $('.portamento .sidebar').portamento({wrapper: $('.portamento')})
</script>
